body {
  margin:          0;
  background:      oldlace;
  font-family:     "Lato";
  display:         flex;
  justify-content: center;
}

#top {
  display:         flex;
  justify-content: center;
  flex-direction:  column;
  align-items:     center;
}

#content {
  margin-top:      20px;
  display:         flex;
  flex-direction:  column;
  width:           1200px;
  align-items:     center;
}


h1, h2, h3, h4, h5 {
  font-family: "Itim";
  font-weight: normal;
}

h3 {
  color: slateblue;
}

h1 {
  font-size:   4em;
}

#body {
  display:         flex;
  flex-direction row;
  flex-wrap:       wrap;
  justify-content: space-around;
}

div.card {
  width:   500px;
  padding: 10px;
}

p, li {
  line-height: 1.5em;
  text-align:  justify;
}

h3, h4 {
  margin: 0;
}

#top {
  display: flex;
}

em {
  text-decoration:       underline;
  text-decoration-color: violet;
}

a, a:visited {
  color: hotpink;
}

a:hover {
  color:      white;
  background: hotpink;
}

ul.agenda {
  background:   #eaeaea;
  font-family:  "Courier New";
  font-size:    0.9em;
  padding:      10px;
  padding-left: 30px;
}
